.accordion {
    width: 100%;
    /* max-width: 1080px; */
    max-width: 80%;
    height: 550px;
    overflow: hidden;
    margin: 50px auto;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(0, 0, 0);
    background-blend-mode: luminosity;
    transition: all 500ms ease;
    opacity: 1;
    background-size: cover;
}
.accordion ul li.active{
    background-blend-mode: normal;
    opacity: 1;
}
.accordion ul li .accordion-title{
    transform: rotate(-90deg);
    width: 100%;
    font-size: 30px;
    opacity: 1;
    display: block;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.282);
}
.accordion ul li.active .accordion-title{
    opacity: 0;
}

.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}

.accordion ul li div a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    /* text-overflow: ellipsis; */
    position: relative;
    z-index: 5;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
    /* top: 160px; */
}

.accordion ul li div a p {
    /* top: 160px; */
    font-size: 13.5px;
    line-height: 120%;
}

.accordion ul li:nth-child(1) {
    background-image: url('/images/about-page/slides/0.jpg');
}

.accordion ul li:nth-child(2) {
    background-image: url('/images/about-page/slides/1.jpg');
}

.accordion ul li:nth-child(3) {
    background-image: url('/images/about-page/slides/2.jpg');
}

.accordion ul li:nth-child(4) {
    background-image: url('/images/about-page/slides/3.jpg');
}

.accordion ul li:nth-child(5) {
    background-image: url('/images/about-page/slides/4.jpg');
}

.accordion ul li:nth-child(6) {
    background-image: url('/images/about-page/slides/5.jpg');
}

.accordion ul:hover li {
    width: 8%;
}

.accordion ul:hover li:hover {
    width: 60%;
}

.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    .accordion {
        height: auto;
    }

    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}

.team-accord {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* height: 100vh; */
}

.team-accord .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 1700px;
  /* width: calc(100% - 100px); */
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 1700px) {
  .team-accord .options .option:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  .team-accord .options .option:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .team-accord .options .option:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .team-accord .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 718px) {
  .team-accord .options {
    min-width: 520px;
  }
  .team-accord .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .team-accord .options {
    min-width: 440px;
  }
  .team-accord .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .team-accord .options {
    min-width: 360px;
  }
  .team-accord .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .team-accord .options {
    min-width: 280px;
  }
  .team-accord .options .option:nth-child(2) {
    display: none;
  }
}
.team-accord .options .option {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: cover;
  /* background-size: auto 120%; */
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.team-accord .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
.team-accord .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
.team-accord .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
.team-accord .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
.team-accord .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
.team-accord .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
.team-accord .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  /* width: 100%; */
  max-width: 900px;
  margin: 0px;
  /* border-radius: 40px; */
  background-size: cover;
  /*&:active {
     transform:scale(0.9);
  }*/
}
.team-accord .options .option.active .shadow {
  /* background-color: rgba(0, 0, 0, 0.385); */
  /* box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black; */
}
.team-accord .options .option.active .shadow h1{
  display: none;
}
.team-accord .options .option.active .label {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 20px;
  /* left: 20px; */
}
.team-accord .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.team-accord .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.team-accord .options .option:not(.active) .shadow {
  bottom: -40px;
  padding: 30px 0;
  left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #02020470;
    display: flex;
    align-items: center;
    justify-content: center;
  /* box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black; */
}
.team-accord .options .option:not(.active):hover .shadow{
  background-color: #88888898;
}
.team-accord .options .option:not(.active) .shadow h1{
  width: max-content;
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  text-anchor: middle;
  transform: rotate(-90deg);
  text-align: center;
  /* white-space: nowrap; */
}
.team-accord .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.team-accord .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.team-accord .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.team-accord .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  /* height: 40px; */
  /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition-delay: -.5s; */
}
.team-accord .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.team-accord .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  padding: 10px;
  /* white-space: pre; */
}
.team-accord .options .option .label .info > div {
  position: relative;
  /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out; */
}
.team-accord .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.team-accord .options .option .label .info .sub {
  width: 100%;
  transition-delay: 0.1s;
  padding: 10px;
  transition: none;
}